body{
  background: linear-gradient(-165deg, #FFF7FB, #FBFFEF);
  padding-bottom: 2px;
  margin:0;
  border-bottom: solid 2px #BFBFBF;
}
font{
  font-family:'ƒƒCƒŠƒI',Meiryo;
}
img{
  vertical-align: bottom;
}